*.user
*.suo
*.userprefs
JsonFx/JsonFx.Json/bin
JsonFx/JsonFx.Json/obj
JsonFx/JsonFx.Json.UnitTests/bin
JsonFx/JsonFx.Json.UnitTests/obj
JsonFx/packages
**/target
**/.idea
**/*.iml
.DS_Store
*.xml
JsonFx-Unity/UserSettings
